<p-dialog 
header="{{ title }}" 
[(visible)]="visible" 
[modal]="true" 
[style]="{ width: '45vw' }" 
[baseZIndex]="9998"
[draggable]="true" 
[resizable]="false"
aria-labelledby="modal-title"
>
<ng-template pTemplate="header">
  <div class="flex justify-content-between align-items-center">
    <span id="modal-title">{{ title }}</span>
  </div>
</ng-template>
<div class="p-4">
  <!-- <p class="mb-4">{{ content }}</p> -->
  <div class="block-div">
    <p>School name</p>
    <div class="classLevel">
      <input
        type="text"
        matInput
        [formControl]="classLevelControl"
        [matAutocomplete]="auto"
        placeholder="School name..."
        autoActiveFirstOption
      />
      <mat-autocomplete 
        #auto="matAutocomplete" 
        (optionSelected)="onOptionSelected($event)" 
        [panelClass]="'custom-autocomplete-panel'"
      >
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>

  <div class="flex-div">
    <div class="block-div20">
      <p>UE code</p>
      <div class="classLevel">
        <input
          type="text"
          matInput
          placeholder="Code..."
        />
        
      </div>
    </div>

      <div class="block-div80">
        <p>Course name</p>
        <div class="classLevel">
          <input
            type="text"
            matInput
            placeholder="Course name..."
          />
        </div>
      </div>
  </div>

  <div class="block-div">
    <div>
        <p>Add equivalences</p>
        <div class="small-add-btn"></div>
    </div>
    <div class="classLevel">
      <input
        type="text"
        matInput
        [formControl]="classLevelControl"
        [matAutocomplete]="auto"
        placeholder="Course..."
        autoActiveFirstOption
      />
      <mat-autocomplete 
        #auto="matAutocomplete" 
        (optionSelected)="onOptionSelected($event)" 
        [panelClass]="'custom-autocomplete-panel'"
      >
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>


  </div>
<ng-template pTemplate="footer">
  <div class="flex justify-content-end gap-2">
    <button 
      pButton 
      class="cancel-btn"
      type="button" 
      label="Cancel" 
      (click)="close()" 
      styleClass="p-button-outlined p-button-secondary"
    ></button>
    <button 
      pButton
      class="save-btn"
      type="button" 
      label="Save" 
      (click)="save()" 
      styleClass="p-button-primary"
    ></button>
  </div>
</ng-template>
</p-dialog>